:root {
  --bg: #202022;
  --text: #ffffff;
  --cg-blue: #234e70;
  --cg-blue-hover: #1a3a54;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  font-family: "Open Sans", sans-serif;

  height: 100dvh;
}

main {
  min-height: 100dvh;
  color: var(--bg);
}